-r requirements.txt
pylint==2.6.0 ; python_version >= '3'
pylint==1.9.5 ; python_version < '3'
twine>=1.15.0
wheel>=0.34.2
setuptools>=44.1.1
mock ; python_version < '3.3'
unittest2 ; python_version < '3'
